.main-info{
    padding-top: 70px;
    margin: 0px 150px 0px 150px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}
.info-child-container{
    width: 640px;
    height: 120px;
    display: flex;
    align-items: center;
}
.about-user{
    width: 640px;
    height: 320px;
    border-radius: 20px;
    background-color: var(--main-white);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 60px 10px;
}
.input-container{
    padding: 10px;
    width: 270px;
    height: 70px;
}

.user-avatar-info{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.user-sub-info{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-cafe{
    width: 640px;
    height: 480px;
    border-radius: 20px;
    background-color: var(--main-white);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}
.h3-font{
    font-size: 20px;
    padding-top: 5px;
}
.a-font{
    font-size: 20px;
    margin-top: 25px;
    font-weight: 500;
    font-family: 'KOTRAHOPE';
}
.info-input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 600;
    font-family: 'Pretendard-Regular';
    background-color: var(--main-white);
}

.edit-btn{
    width: 150px;
    height: 50px;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 10px;
    background-color: var(--main-white);
    margin-right: 17px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
.edit-btn:hover{
    cursor: pointer;
}

.info-font{
    font-size: 17px;
    font-weight: 600;
    font-family: 'Pretendard-Regular';
}



.yellow-font{
    color: var(--main-yellow);
}

.cafe-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--main-brown);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefer-cafe-container{
    width: 600px;
    height: 120px;
    padding: 20px;
}

.bar{
    width: 560px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.my-review-container{
    width: 600px;
    height: 300px;
    padding: 20px;
}

.favorite-cafe-link{
    margin-top: 10px;
}
.favorite-cafe-link a{
    font-size: 25px;
    font-family: 'KOTRAHOPE';
    font-weight: 500;
}

.review-list{
    margin-top: 20px;
}
.review-list a{
    font-size: 20px;
    font-family: 'Pretendard-Regular';
    font-weight: 500;
}


.footer-info{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}