.find-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #523313;
    border-radius: 20px;
    background-color: #eae9e9;
}

.find-container .find-wrap{
    width: 760px;
}

.btn-group button{
    width: 380px;
    height :48px;
    font-size: 18px;
    background-color: #4b3621;
    color: black;
    border: solid 1px #643a04;
    cursor: pointer;
    margin-bottom: 40px;
}

.btn-group .btn{
    border-radius: 20px 0px 0px 0px;
}

.btn-group .-btn{
    border-radius: 0px 20px 0px 0px;
}

.btn.active{
    background: #ffe563;
}
.-btn.active{
    background: #ffe563;
}

.find-input-section-wrap{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-input-wrap{
    width: 465px;
    height :48px;
    border: solid 1px var(--login-border-gray-color);
    background: white;
}

.password-wrap{
    margin-top: 13px;
}

.find-input-wrap input{
    border: none;
    width:430px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    height:30px;
}

.find-button-wrap {
    padding-top: 15px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.find-button-wrap button{
    width: 465px;
    height :48px;
    font-size: 18px;
    background: var(--login-yellow-color);
    color: white;
    border: solid 1px var(--login-yellow-border-color);
    cursor: pointer;
}

.password-question{
    margin-top: 13px;
}