:root {
    --login-body-background-color: #f5f6f7;
    --login-font-color: #4e4e4e;
    --login-border-gray-color: #dadada;
    --login-yellow-color: #ef9541;
    --login-yellow-border-color: #f88821;
    --login-main-border: #523313;
}